*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --footer-bg:#222222;
  --button-bg:#4a4a4a;
  --share-scr-col:#4bc800;
}
main{
  height: calc(100vh - 50px);
  background-color: rgb(4, 4, 4);
}
footer{
  height: 50px;
  width: 100vw;
  background-color: var(--footer-bg);
}
.d-flex{
  display: flex;    
}
.top-bar{
  justify-content: end;
  gap: 10px;
  padding: 10px;
}
.speaker-view, .expand{
  background-color: var(--button-bg);
  border-radius: 10px;
  padding: 5px;
  color: white;
}  
.speaker-view{
  gap: 10px;
}


/*   <img class="strech-img" src="https://picsum.photos/id/237/200/300" alt=""> 